{% extends 'base.html' %}


{% block title %} Catalogos de productos {% endblock %}


{% block content %}


	<h1>Catalogos de productos</h1>

    {% if user.is_authenticated%}
    	<div class="agregar-prod">
			<a href="{% url "vista_agregar_producto" %}" class="btn btn-primary"><i class="icon-plus icon-white"></i> Agregar productos</a>
		</div>
		<br>
	{% endif %}

	{% if productos  %}
	    {# **************ver grilla producto************ #}
	    {% if user.is_authenticated %}
		 			<a href="javascript:void(0);" id="show-prod" title="Ver productos a modificar"><i class="icon-th-list pull-right"></i></a>
		{%endif%}
		{# **************ver grilla producto************ #}

			<table class="table table-hover" id="list-prod">
					<thead>
						 <tr>
		                  <th>Producto</th>
		                  <th>Precio</th>
		                  <th>Stock</th>
	                	</tr>
					</thead>
					<tbody>
				{% for p in productos %}
					<tbody>
 						<tr>
							<td>{{ p.nombre }}</td>
							<td>{{ p.precio }}</td>
							<td>{{ p.stock }}</td>
							<td><a class="btn" href="/producto/{{p.id}}/"><i class="icon-search"></i> Ver</a></td>
							<td><a href="/edit/producto/{{p.id}}/" class="btn" title="Editar"><i class="icon-edit"></i>Editar </a></td>
							<td><a class="btn" href="#"><i class="icon-remove-circle"></i>Eliminar</a>
					    	</td>
				    	</tr>
			    	</tbody>

            	{% endfor %}
				</tbody>
			</table>
	   {% for p in productos %}

	        <div class="span3" style="margin-bottom:10px;padding:0;margin:0">
	       	 <div><img src="/media/{{ p.imagen }}" class="img-polaroid"></div>
	       		<a href="/producto/{{p.id}}/"> {{ p.nombre }} </a>

       			<p><small> {{ p.descripcion }} </small></p>
	        </div>


   		{% endfor %}

	{% else %}
	    <h2>No existen productos :( </h2>
	{% endif %}

{% endblock %}
{# *********paginacion*************** #}
{%	block paginacion %}

<div class="pagination">
    {% if productos %}
    	<ul>
     		<li><a href="/productos/page/1">&laquo;</a></li>
     		{% if productos.has_previous %}
     		 		<li><a href="/productos/page/{{productos.previous_page_number}}/">Prev</a></li>
 			{% else %}
					<li><a href="javascript:void(0);">Prev</a></li>
			{% endif %}

			{% if productos.has_next %}
     		 		<li><a href="/productos/page/{{productos.next_page_number}}/">next</a></li>
 			{% else %}
					<li><a href="javascript:void(0);">Next</a></li>
			{% endif %}
					<li><a href="/productos/page/{{productos.paginator.num_pages}}">&raquo;</a></li>
			<br><br>
			<h4> Pagina  {{ productos.number }} de {{ productos.paginator.num_pages }} </h4>
		</ul>
	{% endif %}
</div>
{# *********paginacion*************** #}

{%endblock%}

{% block script %}
	<script>
		$(function(){

	         $("#show-prod").click(function(){

	            $("#list-prod").fadeToggle("slow", "linear",3000);

	         });

		});
	</script>
{% endblock %}