{% extends 'base.html' %}


{% block title %} Catalogos de productos {% endblock %}

{% block content %}
	<h1>Catalogos de productos</h1>

    {% if user.is_authenticated%}
			<a href="{% url "vista_agregar_producto" %}">Agregar productos</a>
	{% endif %}

	{% if productos  %}
	   {% for p in productos %}
	       <p><a href="/producto/{{p.id}}/"> {{ p.nombre }} </a></p>
	       <small> {{ p.descripcion }} </small>
	   {% endfor %}

	{% else %}
	    <h2>No existen productos :( </h2>
	{% endif %}

{% endblock %}